@font-face {
    font-family: "mintui";
    src: url('//at.alicdn.com/t/font_1477839_aok0tulls3q.eot?t=1572072133693'); /* IE9 */
    src: url('//at.alicdn.com/t/font_1477839_aok0tulls3q.eot?t=1572072133693#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKAAAsAAAAABigAAAI2AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApEVQE2AiQDCAsGAAQgBYRVBzgbawXIHpIkRfTKhAgAAAAA8fD98t25b29aqTpfJzqhq9ptVWtRYBzjEapKxsP40hV6L9dy/78EwtCqqn92RVZoDze5XOgmtwWSvs6yMq0TZp/ncnoT6ID/83NuzoEJbwx4D4wiDCT0hrELXuBzAt3mtTWOji9vYEqy1wXioZIJTBUCUrJ0p9DecDRH4pU2neVFCbyMvh+/DKOToq1iV526fZTD7teWk1XVTe1iQAgS0Ok2VNgFkjjXmDjWEoxr6T4/ZhlIKfjaahpsEkfVC/bX2aW9YBYKnknoiR61tICEqUFgDLMpT7tVT1v3nanZrmfR2vrxycP6h8fmzoGUzP8zwcG10VK0uPm/syfB5y89H9GKpk5Vjc7VncFv6Mg10DSJi+14SXQIkKsY3F28oNtwa9ieYX9TNWPnzIR2Y2d2dZjJUGm3TCa7iTY99mXtjqoF0W3HzukeI0otkV3Y9g4Qer1G0e8NKr3eksl+Qptxn2jX6x+6XfB/ZY/1OD1zEChhyjF9RpV5J9xjPGOV43t1RfLeJEETBsvuKNTKOxx0+6X0CTkKU3fUD3LILFAEb/F4ltfIGI9V8CVl3C2Yq/VeTzR9qJt5CzMOBSTBSA6lniEl4zkiKGQzHlEJ/55yhchZIxEae4zGOySoqenz0UBXv5M8UbgBfbd+p/ZAGmJMQELgWej4MDZiYMJDVfOiEsmwrmJCrLKu5wwSQxXdS6nsHx2Cbra2hHNPpf95QU6+JCr1InESAA==') format('woff2'),
    url('//at.alicdn.com/t/font_1477839_aok0tulls3q.woff?t=1572072133693') format('woff'),
    url('//at.alicdn.com/t/font_1477839_aok0tulls3q.ttf?t=1572072133693') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url('//at.alicdn.com/t/font_1477839_aok0tulls3q.svg?t=1572072133693#mintui') format('svg'); /* iOS 4.1- */
}

.mintui {
    font-family: "mintui" !important;
    font-size: 18px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mintui-zhengzaibofang:before {
    content: "\e639";
}

